---

---

@import "bootstrap-sass/lib/bootstrap.scss";
@import "primer/primer.scss";

$color-primary: rgb(106,38,68);
$color-secondary: rgb(43,0,29);
$color-bright: rgb(244,244,244);
$color-dark: #3a3a3a;
$color-light: #f3f3f3;
$color-white: #ffffff;


body{
  position: relative;
}

a{
  // color: $color-secondary;
}



.sub-nav{
  width: 100%;
  z-index: 1000;
  border-bottom: solid 1px transparent;

  -webkit-transition: background 500ms, border 500ms;
  transition: background 500ms, border 500ms;

  li{
    display: inline-block;
    margin-top: 10px;

    .filter-item{
      width: 150px;
    }
  }

  &.affix-top{
    position: absolute;
    top: 400px;
  }
  &.affix{
    top: 0;
    background: $color-primary;
    background: rgba($color-white, .8);
    border-bottom: solid 1px $color-light;
  }

}

.home{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      // margin-bottom: 1em;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  // a{
  //   color: $color-bright;
  // }

  .jumbotron{
    background: $color-primary;
    color: $color-bright;
    height: 400px;
    margin-top: -100px; //Nav height
    padding-top: 100px;


    background-image: url(../images/tool-set.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 50%;
  }


}

.container-dim{
  background: $color-light;
  padding: 5% 0;
  margin: 5% 0;
}

.navbar-proserv{
  height: 100px;
  padding-top: 25px;
  // background: $color-primary;
  border-radius: 0;
  margin-bottom: 0;
}

.branding{
  background: url(../images/github-proserv-logo-2x.png) no-repeat;
  background-size: contain;
  height: 26px;
  width: 275px;

  span{
    visibility: hidden;
  }
}

.grid{
  padding-left: 0;
  padding-right: 0;
}

.vertical-divider{
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: solid 1px rgba(#999,.3);
  }
}

.horizontal-divider{
  &:after{
    content: " ";
    display: inline-block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px rgba(#999,.3);
  }
}

.proserv, .training{
  margin-bottom: 4em;

  h1{
    margin-bottom: 1em;
  }
  h2{
    margin-bottom: 1em;
    font-size: 160%;
  }
  h2,h3{
    color: rgba(#000,.4);
  }
}
