---

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitHub Professional Services</title>
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap-sass/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/vendor/bootstrap-sass/dist/css/bootstrap.min.css" media="all" type="text/css">
    <link rel="stylesheet" href="assets/vendor/octicons/octicons/octicons.css" media="all" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/default.css" media="all" type="text/css">
  </head>

  <body class="{{page.body_class}}" data-spy="scroll" data-target="#sub-nav">
    {{ content }}
  </body>
</html>
