---
layout: default
body_class: home
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Platform success. Implementation to integration.</h2>
        <p class="lead">Streamline your GitHub Enterprise setup with the help of GitHub Professional Services. Our team of experts delivers initial setup assistance, continuing education and custom integrations. Realize the value of your GitHub investment as quickly as possible through our time-saving techniques and best practices.</p>
      </div>
      <div class="col-md-6 headline-image">

      </div>
    </div>
  </div>
</div>



<div class="sub-nav" data-spy="affix" data-offset-top="400">
  <ul class="filter-list text-center">
    <li>
      <a href="#first" class="filter-item selected">
        First filter
      </a>
    </li>
    <li>
      <a href="#" class="filter-item">
        Second filter
      </a>
    </li>
    <li>
      <a href="#" class="filter-item">
        Third filter
      </a>
    </li>
  </ul>
</div>


<!-- <div class="container"> -->
  {{content}}
<!-- </div> -->
