---
layout: default
body_class: home
---

<!-- <nav>
  <div class="container">
    [LOGO]
  </div>
</nav> -->

<div class="jumbotron text-center">
  <div class="container headline">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Donec congue lacinia ligula, vel semper dolor pulvinar eget</h2>
      </div>
      <div class="col-md-3"></div>
    </div>

    <!--
    <div class="row">
      <div class="col-md-12">
        <div class="category-sum art">
          <div class="topic-count">
            {{site.categories.art.size}}
          </div>
          <div class="topic-count-bg"></div>
          <div class="topic-title">
            art
          </div>
        </div>

        <div class="category-sum food">
          <div class="topic-count">
            {{site.categories.food.size}}
          </div>
          <div class="topic-count-bg"></div>
          <div class="topic-title">
            food
          </div>
        </div>

        <div class="category-sum awesome">
          <div class="topic-count">
            {{site.categories.awesome.size}}
          </div>
          <div class="topic-count-bg"></div>
          <div class="topic-title">
            awesomeness
          </div>
        </div>

        <div class="category-sum design">
          <div class="topic-count">
            {{site.categories.design.size}}
          </div>
          <div class="topic-count-bg"></div>
          <div class="topic-title">
            food
          </div>
        </div>

        <div class="category-sum biz">
          <div class="topic-count">
            {{site.categories.biz.size}}
          </div>
          <div class="topic-count-bg"></div>
          <div class="topic-title">
            awesomeness
          </div>
        </div>
      </div>
    </div>-->
  </div>

  <div class="background"></div>
</div>

<!-- <div class="container"> -->
  {{content}}
<!-- </div> -->

<script>
  var panel = $('.jumbotron'),
      bg = $('.background'),
      headline = $(".headline"),
      outerHeight = panel.outerHeight();

  var blur = "2";


  var accelleration = 1.66;


  // var topicCountBg = $(".topic-count-bg");
  // topicCountBg.css("background", bg.css("background") + " ");
  // topicCountBg.css("background-size", "auto");

  // topicCountBg.css({
  //   'filter'         : 'blur(' + blur + 'px)',
  //   '-webkit-filter' : 'blur(' + blur + 'px)',
  //   '-moz-filter'    : 'blur(' + blur + 'px)',
  //   '-o-filter'      : 'blur(' + blur + 'px)',
  //   '-ms-filter'     : 'blur(' + blur + 'px)'
  // });

  function parallax(){
    var scrolled = $(window).scrollTop();
    bg.css("top", "-" + Math.round((scrolled)/7) + "px");
    headline.css("top", Math.round((scrolled)/3) + "px");

    headline.css("opacity", 1-(scrolled/outerHeight)*accelleration);

    console.log(Math.round(scrolled/outerHeight, -5));


  }

  $(window).scroll(function(e){
    parallax();
  });
</script>
